<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Assembly Resources</title>
</head>
<body>
    <h1>System Call Info Submitted</h1>
    <p>
        NAME: <%=details.SYS_NAME%>
        RAX : <%=details.RAX%>
        RDI : <%=details.RDI%>
        RSI : <%=details.RSI%>
        RDX : <%=details.RDX%>
        R10 : <%=details.R10%>
        R8  : <%=details.R8%>
        R9  : <%=details.R9%>
    </p>
        
</body>
</html>