<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Assembly Resources</title>
</head>
<body>
    <h1>System Call Info Submitted</h1>
    <img src="images/tux.png" id="tuxIMG">
    <p id="confirmationDetails">
        NAME: <%=details.SYS_NAME%>
        <br>
        RAX : <%=details.RAX%>
        <br>
        RDI : <%=details.RDI%>
        <br>
        RSI : <%=details.RSI%>
        <br>
        RDX : <%=details.RDX%>
        <br>
        R10 : <%=details.R10%>
        <br>
        R8  : <%=details.R8%>
        <br>
        R9  : <%=details.R9%>
    </p>
    <a href="/" id="syscallsLink">Back Home</a>
</body>
</html>